.header {
  width: 100%;
  min-height: 9.375rem;
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6875rem;
  font-weight: bold;
}

.header img{
  padding: 0;
  width: 15px;
  margin-right: 10px;
}

.header h1 {
  color: var(--blue);
}

.header h1 span {
  color: var(--purple-dark)
}

/* ======== Form =========*/
.formToDo{
  width: 46rem;
  margin: 0 auto;
  height: 3.375rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: -1.6875rem;
}
.formToDo input {
  width: 78.8%;
  line-height: 1.4;
  padding: 1rem;
  background-color: var(--gray-400);
  color: var(--gray-300);
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  margin-right: 2%;
}

.formToDo input { 
  color: var(--gray-100)
}


.formToDo button {
  width: 20%;
  padding: 1rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.formToDo button span { 
  margin-right: 3%;
}

.plusCircle {
  font-size: 1.4rem;
}

.formToDo button:hover {
  background-color: var(--blue);
}


/* ============= Container To Do's ===========*/
.containerToDos{
  width: 46rem;
  /* background-color: rgb(18, 32, 45); */
  margin: 0 auto;
  margin-top: 4.0625rem;
  min-height: 287px;

}

.infoToDos{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.infoToDos > p {
  font-weight: bold;
}

.infoToDos p:first-of-type{
  color: var(--blue);
}

.infoToDos p:last-of-type{
  color: var(--purple);
}

.infoToDos span {
  background-color: var(--gray-400);
  padding: 2px 5px;
  border-radius: 8px;
  color: var(--gray-100)
}


/* ======================================= To Do's ===================== */
.toDos{
  min-height: 244px;
  border-radius: 8px;
  border-top: 1px solid var(--gray-300);
 
}

.empty {
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-300);
}

.empty p:first-of-type  {
  font-weight: bold; 
  color: var(--gray-200);
  margin: 5px 0;
  font-size: var(--font-size-med);
} 

.empty :last-child {
  font-size: var(--font-size-min);
}






@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .formToDo, .containerToDos {
    padding: 0 4%;

    width: calc(90%);
  }

  .formToDo button span {
    display: none;
  }
}

